<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Confirmation</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
    <style>
        .nav-link
        {
            font-size:20px;
        }
        .headings
        {
            color:white;
        }
    </style>
</head>
<body>
{% csrf_token %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="navbar-collapse collapse show" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="/home/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cities/">Cities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/terms/">Terms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cancellation_policy/">Cancellation Policy</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/search_buses/">Search Buses</a>
        </li>
        {% if request.user.is_anonymous %}
        <li class="nav-item">
            <a class="nav-link" href="/login/">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup/">Sign Up</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/user_profile/">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/edit_profile/">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user_bookings/">My Bookings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout/">Logout</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>
<br>
<br>
<center>
<a style="background-color:blue;" href="/search_buses/"><button class="btn btn-success">Book Another Bus</button></a>
<h1 style="color:blue;">BOOKING CONFIRMED</h1>
<h1 style="color:blue;">TICKET NUMBER : {{ticket_id}}</h1>
<h2 style="color:orange;">Booking details has been sent to {{request.user.email}}</h2>
<div width=500 style="background-color:green;border:1px solid black;">
    <h1 class="headings">DATE OF JOURNEY : {{date_of_journey_str}}</h1>
    <h1 class="headings">BOOKING TIME : {{time_stamp}}</h1>
    <h1 class="headings">BUS DETAILS</h1>
    <h2 class="headings"><label>BUS ID : {{bus_object.id}}</label></h2>
    <h2 class="headings"><label>COMPANY : {{bus_object.company}}</label></h2>
    <h2 class="headings"><label>TYPE : {{bus_object.bus_type}}</label></h2>
    <h2 class="headings"><label><u>FROM : {{source_city_name}}</u></label></h2>
    <h2 class="headings"><label><u>Departure Time : {{times.arrival_time}}</u></label></h2>
    <h2 class="headings"><label><u>TO : {{destination_city_name}}</u></label></h2>
    <h2 class="headings"><label><u>Reaching Time : {{times.reach_time}}</u></label></h2>
    <h2 class="headings"><label><u>BOOKED SEATS : {{booked_seats}}</u></label></h2>
    <h2 class="headings"><label><u>Passengers : </u></label></h2>
    {% for i in passengers_details %}
    <h2 class="headings"><label>{{i.0}}</label></h2>
    {% endfor %}
    <h2 class="headings"><label><u>PRICE : {{price}}</u></label></h2>
    <h2 class="headings"><label><u>User : {{request.user}}</u></label></h2>
    <h2 class="headings"><label><u>Email ID : {{request.user.email}}</u></label></h2>
</div>
</center>
</body>
</html>