<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Passengers details</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
    <style>
        .nav-link
        {
            font-size:20px;
        }
    </style>
<script type="text/javascript">
    function validateform()
    {
        var passengers_details="";
        if({{booked_seats_count}}==1)
        {
            {% for i in seats_count %}
                var x=document.forms["passengers"]["passenger_name"].value;
                var age=document.forms["passengers"]["passenger_age"].value;
                var gender_select=document.forms["passengers"]["gender"]
                var gender=gender_select.options[gender_select.selectedIndex].value;
                if(x=="")
                {
                    alert("Enter name correctly");
                    return false;
                }
                if(age<=0)
                {
                    alert("Enter Age correctly");
                    return false;
                }
                passengers_details=passengers_details+x+","+String(age)+","+String(gender)+";";
            {% endfor %}
            (document.getElementsByName("passengers_details")[0]).value=passengers_details;
            return true;
        }
        else
        {
            {% for i in seats_count %}
                var x=document.forms["passengers"]["passenger_name"][{{i}}].value;
                var age=document.forms["passengers"]["passenger_age"][{{i}}].value;
                var gender_select=document.forms["passengers"]["gender"][{{i}}]
                var gender=gender_select.options[gender_select.selectedIndex].value;
                if(x=="")
                {
                    alert("Enter name correctly");
                    return false;
                }
                if(age<=0)
                {
                    alert("Enter Age correctly");
                    return false;
                }
                passengers_details=passengers_details+x+","+String(age)+","+String(gender)+";";
            {% endfor %}
            (document.getElementsByName("passengers_details")[0]).value=passengers_details;
            return true;
        }
    }
</script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="navbar-collapse collapse show" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="/home/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cities/">Cities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/terms/">Terms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cancellation_policy/">Cancellation Policy</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/search_buses/">Search Buses</a>
        </li>
        {% if request.user.is_anonymous %}
        <li class="nav-item">
            <a class="nav-link" href="/login/">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup/">Sign Up</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/user_profile/">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/edit_profile/">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user_bookings/">My Bookings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout/">Logout</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>
<br>
<br>
<center>
    <h2>Booked Seats : {{booked_seats}}</h2>
<div style="width:400;border:1px solid black;">
    <br>
<form name="passengers" method="post" action="/payment/"  onsubmit="return validateform()">
    {% csrf_token %}
    {% for i in booked_seats_list %}
        Passenger {{i}} :
        <br><br>
        Name : <input type="text" name="passenger_name"/>
        Age  : <input type="number" name="passenger_age"/>
        Gender:
        <select name="gender">
            <option>Male</option>
            <option>Female</option>
        </select>
        <br><br>
    {% endfor %}
    <input type="hidden" name="selected_seats_tag" value="{{booked_seats}}"/>
    <input type="hidden" name="price_tag" value="{{price}}"/>
    <input type="hidden" name="bus_id" value="{{bus_object.id}}"/>
    <input type="hidden" name="source_city_name" value="{{source_city_name}}"/>
    <input type="hidden" name="destination_city_name" value="{{destination_city_name}}"/>
    <input type="hidden" name="arrival_time" value="{{times.arrival_time}}"/>
    <input type="hidden" name="reach_time" value="{{times.reach_time}}"/>
    <input type="hidden" name="year" value="{{date_of_journey_dict.year}}"/>
    <input type="hidden" name="month" value="{{date_of_journey_dict.month}}"/>
    <input type="hidden" name="day" value="{{date_of_journey_dict.day}}"/>
    <input type="hidden" name="date_of_journey_str" value="{{date_of_journey_str}}"/>
    <input type="hidden" name="passengers_details" value=""/>
    <input type="submit" class="btn btn-outline-success" />
</form>
<br>
</div>
</center>
</body>
</html>